
  .collapsable{
    margin-top: 6px;
    padding: 5px;
    margin-bottom: 3px;
    background-color: #88F;
    color: white;
    cursor: pointer;
    height: 35px;
    width: 50%;
    outline: none;
    text-align: left;
    border:0;



    display: grid;
    grid-template-columns: 75px;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }


.collapsable:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.collapsable:hover,
.active{
  background-color: #44F;
}

.collapsable.active:hover{
  background-color: #00F;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.fullrow{
  width:100%
}

.collapsable span{
    /* vertical-align: text-top;
    left: 6em;
    top: 50%;
    margin: 0; */
    grid-column: 2;
  }

 .collapsable .image{
    padding: 0;
    margin: 0px;
    height: 25px;
    grid-column: 1;
  }

.flexcontainer {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* margin-left: 30px;
  margin-right: 30px; */
  padding-left: 30px;
  padding-right: 30px;
}

.flexitem {
  width: 5em;
  height: 5em;
  overflow: clip;
}

/* .flexitem>*:hover, */
.fleximage:hover
{
  transform: perspective(100px) scale3d(1.10, 1.10, 1.10);
}


.fleximage {
  max-height: 90%;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top:5%;
  display: block;
}

.flexitem img{
  text-align: center;
}
