* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 10px;
}

table,
tr,
td {
    border: 1px solid black;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    background-color: white;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}
