<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS + JS -->
    <link rel="stylesheet" href="/css/main.css" />
    <script src="/js/main.js" defer></script>

    <!-- jQuery -->
    <script src="/extern/jquery-3.7.1.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/extern/bootstrap/4.5.2/css/bootstrap.min.css">
    {% endblock head %}
    <title>{% block title %}{% endblock title %} - AvansMatrixBoard</title>
</head>
<body class="bg-light">

{% with messages = get_flashed_messages(with_categories=true, category_filter=["success", "info"]) %}
  {% if messages %}
    <div class="container mt-2">
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<!-- Responsive Navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('pages.core.home_route') }}">AvansMatrixBoard</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar"
            aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link {% if request.endpoint == 'pages.core.home_route' %}active{% endif %}"
            href="{{ url_for('pages.core.home_route') }}">
            Home
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link {% if request.endpoint == 'pages.core.text_route' %}active{% endif %}"
            href="{{ url_for('pages.core.text_route') }}">
            Text
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link {% if request.endpoint == 'pages.core.draw_route' %}active{% endif %}"
            href="{{ url_for('pages.core.draw_route') }}">
            Draw
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link {% if request.endpoint == 'pages.core.image_route' %}active{% endif %}"
            href="{{ url_for('pages.core.image_route') }}">
            Image
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link {% if request.endpoint == 'pages.core.imagepicker_route' %}active{% endif %}"
            href="{{ url_for('pages.core.imagepicker_route') }}">
            Pick an image
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page content -->
<main class="container pb-4">
  {% block content %}
  {% endblock content %}
</main>

{% block scripts %}
{% endblock scripts %}

<!-- Bootstrap JS -->
<script src="/extern/ajax/popper/1.16.0/popper.min.js"></script>
<script src="/extern/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
